<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Cadastro de Usuários</a>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon" type="button"></span>
        </button>
        <div >
            <ul class="navbar-nav">
                <li>
                    <a routerLink="/" class="nav-link">Usuários</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Cadastro de Usuários</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Usuários</a>
            </li>
        </ul>
    </div>
</nav>


-->