<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary text-white">
  <div class="container-fluid">
    <h2 class="navbar-brand">Cadastro de Usuários</h2>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="me-auto my-2 d-flex" role="search">
        <input
          #campo
          class="form-control mx-2"
          type="search"
          placeholder="Pesquisa"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-light"
          type="submit"
          (click)="pesquisar(campo.value)"
        >
          Buscar
        </button>
      </form>
    </div>
  </div>
</nav>
